<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Add your CSS stylesheets or links to external stylesheets here -->
</head>
<body>
    <header>
        <h1>{% block header %}Country Information{% endblock %}</h1>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Add navigation links or other header content here -->
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Add footer content here -->
    </footer>
    <!-- Add your JavaScript scripts or links to external scripts here -->
</body>
</html>
